<header id="site-header" class="site-header dynamic-header menu-dropdown-tablet">
	<div class="header-inner">
		<div class="site-branding show-title">
							<div class="site-title show">
					<a href="/" title="Home" rel="home">
						Solvas					</a>
				</div>
					</div>

					<nav class="site-navigation show" aria-label="Main menu">
				<ul id="menu-main-menu" class="menu">
<li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-11 current_page_item menu-item-16"><a href="/" aria-current="page">Home</a></li>
<li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15"><a href="/post/">#post</a></li>
<li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29"><a href="/prices/">prices</a></li>
<li id="menu-item-164" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-164">
<a href="/category/uncategorized/">profile</a>
<ul class="sub-menu">
	<li id="menu-item-165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165"><a href="/profile/">profile</a></li>
	<li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="/edit-profile/">edit profile</a></li>
	<li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32"><a href="/logout/">logout</a></li>
</ul>
</li>
</ul>			</nav>
							<div class="site-navigation-toggle-holder show">
				<button type="button" class="site-navigation-toggle">
					<span class="site-navigation-toggle-icon"></span>
					<span class="screen-reader-text">Menu</span>
				</button>
			</div>
			<nav class="site-navigation-dropdown show" aria-label="Mobile menu" aria-hidden="true" inert>
				<ul id="menu-main-menu-1" class="menu">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-11 current_page_item menu-item-16"><a href="/" aria-current="page">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15"><a href="/post/">#post</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29"><a href="/prices/">prices</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-164">
<a href="/category/uncategorized/">profile</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165"><a href="/profile/">profile</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="/edit-profile/">edit profile</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32"><a href="/logout/">logout</a></li>
</ul>
</li>
</ul>			</nav>
			</div>
</header>